<h4><%= t(".greeting") %> <%= @user.username %>,</h4>

<p>
  <%= t(".introduction") %>
</p>

<div style="text-align: center; margin-top: 2.5rem; margin-bottom: 2.5rem;">
  <%= link_to t(".reset_password"),
              new_password_reset_url(token: @user.password_reset_token),
              { style: "font-size: 1.25rem; padding: 0.5rem 1.25rem; border-radius: 0.125rem; background-color: rgb(51, 65, 85); color: white; text-decoration: none;" }%>
</div>

<p>
  <%= t(".security_hint") %>
</p>

<p>
  <%= t(".farewell") %><br>
  <%= t(".bookist_team") %>
</p>
