<% provide(:title, t(".sign_up")) %>

<div class="flex justify-center">
  <div class="max-w-lg w-[80%]">
    <h1 class="text-5xl mt-16 text-center">📖 Bookist</h1>

    <h2 class="text-3xl mt-5 text-center"><%= t(".sign_up") %></h2>

    <% if flash.present? %>
      <div class="mt-10">
        <%= render "shared/flash_messages" %>
      </div>
    <% end %>

    <div class="mt-10">
      <%= form_with model: @user do |form| %>
        <%= form_field(model: @user,
                       form: form,
                       field: :username,
                       translation: t(".username"),
                       type: :text_field) %>

        <%= form_field(model: @user,
                       form: form,
                       field: :email,
                       translation: t(".email"),
                       margin: true,
                       type: :email_field,
                       hint: t(".email_for_reset")) %>

        <%= form_field(model: @user,
                       form: form,
                       field: :password,
                       translation: t(".password"),
                       margin: true,
                       type: :password_field) %>

        <%= form_field(model: @user,
                       form: form,
                       field: :password_confirmation,
                       translation: t(".password_confirmation"),
                       margin: true,
                       type: :password_field) %>

        <div class="flex justify-center">
          <%= form.button t(".sign_up"), class: "block mt-10 text-xl py-2 px-5 rounded-sm bg-slate-700 hover:bg-slate-600 text-white" %>
        </div>
      <% end %>
    </div>

    <div class="mt-10">
      <p><%= t(".already_have_account") %> <%= link_to t(".sign_in"), login_path, class: "underline" %></p>
    </div>
  </div>
</div>
